@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

button {
  cursor: pointer;
}

.scrollbar-auto {
  overflow: auto;
}

.custom-scrollbar {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #a0a0a0 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #808080;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-password-toggle-button {
  display: none !important;
}
